@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=PT+Serif&display=swap');

/* default mobile view */
a.skip {
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  z-index: 1;
  color: white;
  font-family: "Montserrat", "Times New Roman";
}

a.skip:focus {
  top: 0;
}
header {
  background-color: #2b5b4b;
  color: white;
}

body { 
  background-color: #f5fcf6;
}

.about {
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: white solid 2px;
}

h1 {
  font-family: 'Montserrat', 'Times New Roman';
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  width: 300px;
  margin-bottom: 30px;
  margin-top: 20px;
  color:white;
}

footer {
  background-color: black;
  /* position: sticky; */
  color: white;
  font-family: 'Montserrat', 'Times New Roman';
  text-align: center;
  padding: 35px;
  margin-top: 20px;
  font-size: 18px;
  border-top: white solid 3px;
}

nav {
  padding-bottom: 10px;
}

.nav_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  align-items: center;
}

.nav_item a{
  color: #cfe6d2;
  font-size: 18px;
  font-family: 'Montserrat', 'Times New Roman';
}

.nav_item a:hover {
  color: white;
}

.nav_item a:active {
  color: white;
}

#current a {
  color: #c2e4f2;
  font-weight: bold;
  font-style: italic;
}

#current a:hover {
  color: white;
} */

#current a {
  color: #ababab;
}

.nav_item {
  padding-bottom: 10px;
}

h2 {
  font-family: 'Montserrat', 'Times New Roman';
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 225px;
  border-radius: 5px;
  border: 2px solid grey;
  margin-bottom: 10px;
}

.table {
  flex-basis: 300px;
}

.gallery {
  display: flex;
  align-self: center;
  justify-content: center;
}

div.odd {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 20px;
}

div.even {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;
}

div.box{
  position: relative;
  width: 100%;
}

p.caption{
  display: flex;
  width: 225px;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-family: 'Montserrat', 'Times New Roman';
}
/* Styles for 'back to top' button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0057b4;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  /* Initially hidden, will be shown with JavaScript */
  display: none;
}

.back-to-top:hover {
  background-color: #0056b3;
}

.icon {
  width: 50px; 
  height: 50px;
}

a:hover .icon {
  opacity: 0.8;   
}

a:active .icon {
  opacity: 0.5;
}
figure {
  display: block;
  text-align: center;
  margin: 10px auto;
  border-top-right-radius: 30px;
}
/* prefers reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
  .gif {
      display: none;
  }
  .static {
      display: block;
  }
  * {
      transition: none;
  }
}

/* tablet view */
@media screen and (min-width: 750px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    width: 600px;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
  }

  .nav_item {
    padding-left: 20px;
    padding-right: 20px;
  }

  img {
    width: 200px;
  }
  
  .table {
    display: flex;
    flex-direction: row;
    flex-basis: 725px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
  
  div.odd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  
  div.even {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  img#image8 {
    height: 266.66px;
    width: 200px;
  }

  p.caption{
    width: 200px;
  }
  
}
/* desktop view */
@media screen and (min-width: 1050px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  h1 {
    text-align: left;
    padding-left: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  nav {
    padding-bottom: 0px;
  }

  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px
  }

  .nav_item {
    padding-bottom: 0px;
  }

  .table {
    flex-basis: 1050px;
  }

  img {
    width: 225px;
  }

  img#image8 {
    height: 300px;
    width: 225px;
  }

  /* div.odd {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  
  div.even {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  } */

  div.caption{
    font-size: 25px;
    width: 255px;
  }
}